<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN"/>
    <logger name="org.hibernate.orm.jdbc.extract" level="WARN"/>
    <logger name="org.hibernate.engine.transaction" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>

    <logger name="com.agrofarm" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
